* {
  height: fit-content;
}

body {
  background-color: cadetblue(240, 248, 255, 0.575)
}

p {
  margin-top: 4em;
}

.container--narrow {
  max-width: 34rem;
}

// .menu-split {
//   position: center;
//   background-color: cadetblue;
//   height: 600px;
//   width: 600px;
//   color: aliceblue;
// }

// .menuCard {
//   background-color: cadetblue;
//   justify-content: center;
//   height: 500px;
//   width: 500px;
//   margin: 0px 10px;
// }