.menu-split {
  position: center;
  background-color: transparent;
  height: 600px;
  width: 600px;
  color: aliceblue;
}

// .menuCard {
//   background-color: #0000ff;
//   justify-content: center;
//   height: 500px;
//   width: 500px;
//   margin: 0px 10px;
// }