body {
  color: rgba(240, 248, 255, 0.815)
}

p {
  margin-bottom: 1em;
}

// parent container to MenuForm
form {
  text-align: center;
  padding: 1rem 0;
  background-color: rgba(240, 248, 255, 0.281)
}

.container {
  margin-inline: auto;
  width: min(90%, 88.5rem);
}

.container--narrow {
  max-width: 34rem;
}

.menu-split {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  line-height: .8;
}

@media (min-width: 40em) {
  .menu-split {
    flex-direction: row;
  }

  .menu-split > * {
    flex-basis: 100%;
  }

  .menu-split > * + * {
    margin-left: 2em;
  }
}
