// * {
//   // background-color: rgba(240, 248, 255, 0.815)
// }

p {
  margin-bottom: 1em;
}

// Main / Parent container to Menu & Beer forms

// Main food form input styling section
form {
  flex-direction: row;
  color: whitesmoke;
  // display: inline flow-root list-it;
  background-color: rgba(23, 23, 22, 0.326);
  border-bottom: 8px;
  text-align: center;
  padding: 1vh 6vh;
}

.container--narrow {
  max-width: 34rem;
}

.form-split {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  line-height: .8;
  max-height: 108px;
}

@media (min-width: 40em) {
  .form-split {
    flex-direction: row;
  }

  .form-split > * {
    flex-basis: 100%;
  }

  .form-split > * + * {
    margin-left: 2em;
  }
}
